/* RESET */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #444;
}

/* HEADER */
header{
    display: flex;
    height: 8vw;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;

}

/* LOGO */
header img{
    width: 8%;
    position: relative;
    top: 15px;
}

/* HEADER LINK */
.menu a{
    color: #444;
    text-decoration: none;
    font-weight: bold;
    padding: 0 32px;
    font-size: 28.5px;
    letter-spacing: 0.5px;
    transition: 0.4s;
    position: relative;
    right: 500px;
}

.mostrar_menu,
.esconder_menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar_menu{
    order: 1;
    position: relative;
    top: 20%;
    right: 100%;
}

.menu a:hover,
.mostrar_menu:hover,
.esconder_menu:hover{
    color: #10599C;
    text-decoration: underline;
}

#check{
    display: none;
}

/* FIRST_FRAME */
.first_frame{
    width: 100%;
    height: 3.4vw;
    background-color: rgba(16, 89, 156, 0.8);
    color: #fff;
}

.contactos{
    width: 35%;
    height: 3vw;
    padding: 0 60px;
    
}

.contactos img{
   position: relative;
   top: 15px;
}

.gmail{
    position: relative;
    left: 110px;
}

.contactos a{
    color: #fff;
    text-decoration: none;
}

.numero{
    position: relative;
    left: 15px;
    top: 5px;
}

.correo{
    position: relative;
    left: 120px;
    top: 6px;
}

/* REDES_SOCIALES */
.redes{
    width: 10%;
    position: relative;
    left: 1325px;
    bottom: 44px;
}

/*ICONOS DE USUARIO*/
#Usuario{
    position: absolute;
    top: 14.3px
}

.b{
    position: relative;
    left: 8px;
    bottom: 1px;
}

.c{
    position: relative;
    left: 15px;
    top: 1px;
}


.d{
    position: relative;
    left: 23px;
    bottom: 1px;
}

/*BARRA DIVISORA*/
#barra{
    color: #fff;
    font-size: 42px;
    position: relative;
    bottom: 90px;
    left: 1742px;
}

/*LINK DE RESGITRO*/
span a{
    text-decoration:none;
    color: #fff;
    font-family: sans-serif;
    font-size: 13.3px;
    letter-spacing: 0.5px;
    position: absolute;
    right: 9.8%;
    top: 26px;
}

#registro{
    position: relative;
    color: #fff;
    left: 1745px;
    top: -99px;
}

/*CARRITO_DE_COMPRAS*/


#carrito img{
    width: 3%;
    position: absolute;
    right: 360px;
    top: 115px;
}

/*AGENDACION_DE _CITAS*/
.citas{
    width: 14%;
    height: 70px;
    background:linear-gradient( to right, #0F5FA9 77% ,#053463 77%);
    border-radius: 6px;
    box-shadow: 0px 1px 4px 0px rgba(68, 68, 68, 1);
    position: relative;
    left: 1600px;
    bottom: 110px;
}

.citas a{
    text-decoration: none;
}

.citas h2{
    color: #fff;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 40px;
    top: 24px;
}

.citas img{
    position: relative;
    left: 215px;
    top: 12px;
}

/*LINEA_DIVISORA*/
.linea{
    width: 100%;
    height: 7px;
    background-color: rgba(16, 89, 156, 0.8);
    position: relative;
    bottom: 70px;
}

/*BANNER*/
.banner1{
    width: 98%;
    position: relative;
    left: 18px;
    bottom: 45px;
}

@media(max-width: 768px){
    .contactos{
        display: none;
    }

    .redes{
        display: none;
    }

    #Usuario{
        display: none;
    }

    span{
        display: none;
    }
    /*LOGO*/
    .logo{
        width: 15%;
        position: relative;
        left: 260px;
        top: 22px;
    }

    .citas{
        display: none;
    }

    /*HEADER*/
    .mostrar_menu,
    .esconder_menu{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #a8a8a8;
        right: 100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
        color: #fff;
    }
    .menu a{
        display: block;
        padding: 20px;
        position: relative;
        left: 30px;
        color: #fff;
    }
    .esconder_menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
    }

    #carrito img{
        width: 6%;
        position: absolute;
        left: 90%;
        top: 5%;
    }
    .linea{
        position: relative;
        top: 30px;
    }
    .banner1{
        position: relative;
        top: 40px;
        left: 7px;
    }
}

/*TÍTULO_DE _PRODUCTOS*/
div h1{
    width: 80%;
    font-size: 48px;
    font-family:cursive;
    color: #10599C;
    position: relative;
    left: 1.6%;
    bottom: 35px;
}


h3{
    width: 50%;
    color: #555;
    font-size: 20.8px;
    position: relative;
    left: 1.6%;
    bottom: 30px;
}

/*PRODUCTOS_PRINCIPALES*/
.tres-productos{
    width: 99%;
    display: flex;
    position: relative;
    top: 15px;
}

/*MARCO_DEL_PRIMER_RODUCTO*/
.producto1{
    width: 19%;
    height: 558px;
    border: 3px solid #767676;
    border-radius: 20px;
    position: relative;
    left: 2.2%;
}


.img-producto-1{
    width: 55%;
    position: relative;
    top: 30px;
    left: 75px;
}

.reaccion{
    position: relative;
    bottom: 230px;
    left: 85px;
}

#CARRITO{
    position: absolute;
    left: 288px;
    top: 340px;
}

.precio{
    color: #027200;
    position: relative;
    left: 30px;
    top: 35px;
}

.nombre{
    position: relative;
    left: 30px;
    top: 45px;
}

#eleccion{
    width: 82%;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #767676;
    position: relative;
    left: 28px;
    top: 55px;
}

#eleccion p{
    position: relative;
    left: 7px;
    top: 12px;
}

#cantidad{
    display: flex;
    width: 25%;
    height: 35px;
    border-radius: 8px;
    border: 2px solid #767676;
    position: relative;
    left: 28px;
    top: 74px;
}

#cantidad p{
    margin-top: 10px;
    margin-left: 16px;
}

#menos{
    font-size: 25px;
    position: relative;
    right: 5px;
    bottom: 7px;
}

#comprar{
    display: flex;
    width: 45%;
    height: 35px;
    border-radius: 8px;
    border: 2px solid #767676;
    position: relative;
    left: 160px;
    top: 35px;
}

#comprar p{
    position: relative;
    top: 8px;
    left: 45px;
}


.producto2{
    width: 19%;
    border: 3px solid #767676;
    border-radius: 20px;
    position: relative;
    left: 4.6%;
}

.reaccion2{
    position: relative;
    bottom: 230px;
    left: 45px;
}

.producto3{
    width: 19%;
    height: 555px;
    border: 3px solid #767676;
    border-radius: 20px;
    position: relative;
    left: 7%;
}

.img-producto-2{
    width: 68%;
    position: relative;
    left: 56px;
    top: 35px;
}

.descuento{
    position: absolute;
    right: 270px;
    bottom: 482px;
   
}

.img-producto-3{
    width: 85.4%;
    position: relative;
    left: 25px;
    top: 35px;
}


.precio2{
    color: #027200;
    position: relative;
    left: 30px;
    top: 35px;
}

.nombre2{
    position: relative;
    left: 30px;
    top: 45px;
}

#eleccion2{
    width: 82%;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #767676;
    position: relative;
    left: 28px;
    top: 78px;
}

#eleccion2 p{
    position: relative;
    left: 7px;
    top: 12px;
}

#cantidad2{
    display: flex;
    width: 25%;
    height: 35px;
    border-radius: 8px;
    border: 2px solid #767676;
    position: relative;
    left: 28px;
    top: 96px;
}

#cantidad2 p{
    margin-top: 10px;
    margin-left: 16px;
}

#menos2{
    font-size: 25px;
    position: relative;
    right: 5px;
    bottom: 7px;
}

#comprar2{
    display: flex;
    width: 45%;
    height: 35px;
    border-radius: 8px;
    border: 2px solid #767676;
    position: relative;
    left: 160px;
    top: 58px;
}

#comprar2 p{
    position: relative;
    top: 8px;
    left: 45px;
}

.precio3{
    color: #027200;
    position: relative;
    left: 30px;
    bottom: 12px;
}

.nombre3{
    position: relative;
    left: 30px;
    top: 2px;
}

#eleccion3{
    width: 82%;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #767676;
    position: relative;
    left: 28px;
    top: 37px;
}

#eleccion3 p{
    position: relative;
    left: 7px;
    top: 12px;
}

#cantidad3{
    display: flex;
    width: 25%;
    height: 35px;
    border-radius: 8px;
    border: 2px solid #767676;
    position: relative;
    left: 28px;
    top: 56px;
}

#cantidad3 p{
    margin-top: 10px;
    margin-left: 16px;
}

#menos3{
    font-size: 25px;
    position: relative;
    right: 5px;
    bottom: 7px;
}

#comprar3{
    display: flex;
    width: 45%;
    height: 35px;
    border-radius: 8px;
    border: 2px solid #767676;
    position: relative;
    left: 160px;
    top: 17px;
}

#comprar3 p{
    position: relative;
    top: 8px;
    left: 45px;
}

.reaccion3{
    position: relative;
    left: 288px;
    bottom: 270px;
}

/*PRESENTACIÓN DE LA TIENDA*/
#tienda{
    width: 134%;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: #444;
    position: absolute;
    left: 460px;
    bottom: 90px;
}

@media (max-width: 768px) {
    div h1{
        font-size: 25px;
        position: relative;
        left: 1%;
        top: 40px;
    }

    h3{
        font-size: 14px;
        text-align: justify;
        position: relative;
        left: 1%;
        top: 45px;
    }

    .tres-productos{
        width: 99%;
        display: flex;
        position: relative;
        top: 68px;
    }

    .producto3{
        width: 25%;
        border-radius: 18px;
        position: relative;
        left: 33%;
    }

    .img-producto-3{
        position: relative;
        left: 15px;
        top: 20px;
    }
    

    .precio3{
        font-size: 10px;
        position: relative;
        left: 20px;
        bottom: 30px;
    }
    
    .nombre3{
        width: 40%;
        font-size: 10px;
        position: relative;
        left: 20px;
        top: -25px;
    }

    #eleccion3{
        position: relative;
        left: 15px;
        top: -15px;
    }
    
    #eleccion3 p{
        position: relative;
        left: 5px;
        bottom: 5px;
    }

    #tienda{
        width: 450%;
        font-size: 15px;
        position: absolute;
        left: -320px;
        top: 700px;
    }
}
